body {
    margin: 0;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.navbar {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    color: #E5E7EB;
    gap: 16px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

a:link, a:visited, a:hover {
    text-decoration: none;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}